/* Move content below, fixed navbar is 50px tall */

* {
	box-sizing: border-box;
}
body {padding-top: 50px; font-weight:100;}

footer {
	/* Original colour for BG is F74C3C */
  background-color: #242323;
  padding-top: 140px;
  padding-bottom: 30px;
}

#get-involved {background-color: #fdfdfd;}

/*--------------- NAVIGATION SECTION ---------------*/

ul.nav, .jumbotron h1, .jumbotron p {
	font-family: Roboto, courier, serif;
	font-weight: 100;
}
.jumbotron p {
	font-weight: 100;
}

ul.nav {font-size: 16px;}

@keyframes example {
	 50% {opacity: 0.0;}
}
#blink {
	    animation: example 4s linear infinite;

}

/*--------------- HOMEPAGE IMAGE SECTION ---------------*/

.jumbotron {
	text-align: center;
	/* Get out of css folder (../) then into img foler (/img/) */
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) ), url("../img/Hero-Image-New.jpg") fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	background-size: cover;
	color: #fff;
	margin-bottom: 0;
}

.jumbotron h1 {
	margin-top: 0;
	margin-bottom: 50px;
	
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 300;
	padding: 0 50px;
}

.btn-lg {font-size: 36px;}

.fa-stack {transition: all 0.2s;}
.fa-stack:hover {color: #d9534f;}

.homepage {
	text-align:center;
	padding-bottom: 30px;
	padding-top: 30px;
}


/*--------------- HOMEPAGE HEADING AND PARAGRAPH STYLES ---------------*/

.homepage h2, .homepage h3 {
	color: #1f1f1f;
	font-family: Roboto, courier, serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 36px;
	font-weight: bold;
	font-weight: 100;
}

.homepage h3 {
	color: #e74c3c;
	font-size: 26px;
	font-weight: 100;
}

.homepage p {
	font-size: 19px;
    font-family: "Roboto", courier, serif;
    font-weight: 300;
}

.homepage a {color: #e74c3c;}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: .6;
}

.homepage hr {
	border-top: 3px solid #1f1f1f;
	width: 50px;
	margin-top: 15px;
}

.col-md-4 {box-shadow: 2px 1px 3px #ECECEC;padding-bottom: 	20px; padding-top: 20px;}

/*--------------- FOOTER/SOCIAL MEDIA ICONS ---------------*/

ul.social {
	display: flex;
    justify-content: center;
   	flex-direction: row-reverse;
    margin-left: 15px;
    padding: 0px;
    list-style-type: none;
}

.social li {margin-right: 20px;}

.social li a:link, 
.social li a:visited {
	color: #fff;
	opacity:0.8;
	transition: all 0.2s;

}

.social li a:hover {
	opacity: 1;
	color: #fff;

}

#Copyright {
	opacity: .6;
	color: #fff;
	text-align: center;
}

.logo-bottom {margin-bottom: 20px;}


/*--------------- RESPONSIVE MEDIA QUERIES ---------------*/


@media (max-width: 1199px) {
	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

	ul.social {
		font-size: 1.2em;
	}
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 44px;
		margin-bottom: 30px;
	}

	.jumbotron p {
		padding: 0 10px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.jumbotron {
	text-align: center;
	/* Get out of css folder (../) then into img foler (/img/) */
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) ), url("../img/Hero-Image-New.jpg") fixed;
	/*background: url("../img/Hero-Image-New.jpg");*/
	background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	background-size: cover;
	color: #fff;
}

}

@media (max-width: 767px) {
	.jumbotron h1 {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0px;
	}



	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	footer .logo-bottom {width: 80%;}
.card button {
	display: block;
	margin-bottom: 15px;
}
}
.contact .frm {color:#1f1f1f;}
.contact-ftr {text-align: right; color:#ccc;}
.contactftr-2{text-align:right; color:#ccc; font-size: 0.8em;}


@media (max-width: 469px) {
.contact-ftr {text-align: center;}
.contactftr-2{text-align:center; margin-bottom:25px;}

}
@media (max-width: 320px) {
	.cart, .wishlist {
	color:#ccc;

}

.logo-un {
	margin:0 auto;
	position: relative;
	right:0;
	left:0;
	}
}


.section  {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: green;
    margin: 40px 0;

   height: 100%;
}

.section-newsletter {
	margin:0;
    padding:0;
    background-color:#1f1f1f;
}

.section-newsletter h2 {padding:10px; margin:0; color:#fff;font-weight:100; }
.section-newsletter p {color:#fff; font-weight: 100;}
.section-newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-newsletter form  input.btn{font-size: 1em; margin-top:8px;}
.section-newsletter form .email {
    font-size:1em;
    font-family: Roboto, sans-serif;
    border-radius: 2px;
    padding:3px;
    height: 35px;
    border:1px solid #fff;
    width: 250px;
}

.appear {
	animation:fadeInOne 4s;
}
.appearTwo {
	animation:fadeInTwo 2s;
}

@keyframes fadeInOne {
	0%{opacity:0;}
	50%{opactiy:0.5;}
	100%{opacity:1;}
}
@keyframes fadeInTwo {
	from {opacity:0;}
	to {opacity:1;}
}


.btn {
	display: inline-block;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    border:1px solid #1f1f1f;
    outline: none;
    
    transition: 0.2s all;
    margin: 20px 2px;
    margin: 0 auto;
}

.btn-full {
    background-color: #1f1f1f;
    color:#fff;
    cursor: pointer;
}
.btn-ghost {
    background: transparent;
    border:1px solid #fff;
    color: inherit;
}
.btn-full:hover{background-color: #fff; border-color: #fff; color:#000;}
.btn-ghost:hover{background-color: #fff; color: #000;}
input.btn-ghost{color:#fff;}

.img-min {
	display: block;
	margin: 30px auto;
}



.logo-un {
	display: block;
	position: relative;
	right:20px;
	width:230px;
	height:40px;
}

a.frm-contact{
	color:#1f1f1f;
	text-decoration: underline;
}
a.frm-contact:hover{
	color:#1f1f1f;
}

a.ft-contact{
	color:#ccc;
	text-decoration: underline;
}

.cart, .wishlist {
	color:#ccc;
	/*margin-top:10px;
	padding-right:1px;*/
}
.navbar-brand #nav-logo {
	display: block;
    width: 160px;
     height: 40px; 
   	position: relative;
   	bottom:8px;
    /* margin: 0; */

}
.homepage h3{color:#888;}
.card{margin:0 auto; text-align: center;}

a .cart,  a .wishlist {
	color:#ccc;
	margin-top:10px;
	transition: 0.2s all;
}
a:hover .cart, a:hover .wishlist {
	color:#fff;
}

.card-img-top {
	display: block;
	border-radius: 3px;
	margin:0 auto;
}


.card .btn-ghost{border-color: #1f1f1f;}
.card .btn-full:hover {
 	background-color: transparent;
 	border-color:#1f1f1f;
}
.card .btn-ghost:hover {
	background-color: #1f1f1f;
	color:#fff;
}

.card {
	border:1px solid #E3E3E3;
	padding:25px;
	border-radius: 5px;
}

.container .vision-card-one, .vision-card-two {
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0 3px 5px #EDEDED;
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.container .vision-card-one {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4) ), url(../img/our-promise.jpg);
}
.container .vision-card-two {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4)  ), url(../img/our-brand.jpg);
}
.card-body .btn-card {
	color:#F0F0F0;
	border-color: #F0F0F0;
	margin-top:20%;
}

.card-body .btn-card:hover {
	background-color: transparent;
	border-color: #fff;
	color:#fff;
}

.card h3 {
	color:#ccc;
}
.card .h3-title {
	font-weight: 300;
	color:#F0F0F0;
}
.card-text {
	color:#ccc;
}

.btn-submit:hover {
	border-color: #1f1f1f;
	color:#1f1f1f;
}

.contact-frm label, input, textarea {
	color:#1f1f1f;
	font-family: Roboto, sans-serif;
}
